MYSQL_DATABASE=netwatch
MYSQL_USER=netwatch
MYSQL_PASSWORD=CAMBIAR_CLAVE_MYSQL
MYSQL_ROOT_PASSWORD=CAMBIAR_CLAVE_ROOT_MYSQL
JWT_KEY=CAMBIAR_POR_SECRETO_ALEATORIO_DE_64_CARACTERES_COMO_MINIMO
AGENT_API_KEY=CAMBIAR_POR_CLAVE_ALEATORIA_DEL_AGENTE
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CAMBIAR_CLAVE_ADMIN
ADMIN_EMAIL=admin@netwatch.local
TECHNICIAN_USERNAME=technician
TECHNICIAN_PASSWORD=CAMBIAR_CLAVE_TECNICO
TECHNICIAN_EMAIL=technician@netwatch.local
NETWATCH_BIND_ADDRESS=0.0.0.0
API_PORT=8081
WEB_PORT=8080
ADMINER_PORT=8082
